.customer-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(80, 80, 80, 0.498);
  backdrop-filter: blur(3px);
}

.customer-form-container{

  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;

  &__form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;

    label{
      margin-bottom: 0.3rem;
      font-size: 0.8rem;
    }

    input, select{
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    &--error{
      color: red;
      font-size: 0.8rem;
      margin-top: 0.1rem;
      margin-bottom: 0.1rem;
    }
  }

  &__btn-cont{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.2rem;




  }
}
