body,html{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: Nunito, sans-serif;
}


button{
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.submit-btn{
  background-color: #418a6d;
  color: white;

  &:hover{
    background-color: #4CAF50;
    transition: 100ms ease-in-out;
  }
}

.cancel-btn{

    &:hover{
    background-color: #d4d4d4;
    transition: 100ms;
  }
}


